local_scripts
provision/kthw/.terraform
provision/kthw/.terraform.lock.hcl
provision/tf_backend/.terraform
provision/tf_backend/.terraform.lock.hcl
provision/tf_backend/terraform.tfstate*
.env*
.DS_Store
